body{
    margin: 0;
}
.container{
    /*asetetaan fontti kaikkeen sisältöön oletuksena*/
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4{
    /* headerin fontti*/
    font-family: 'Barlow Condensed', sans-serif;
}
h2{
    /* margin: 20px 0 20px 0;*/
    /*padding: 20px;*/
    text-align: center;
    font-size: 30px;
    /*background-color: #D29874; */
}
h3{
    font-size: 22px;
}
/* NAVBARIN TYYLITTELY ALKAA*/
/*annetaan taustaväri ja yli menevä on piilossa. Korekus maksimissaan 50px*/
.navbar {
    /*navbar pysyy näytön yläreunassa*/
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E6C6B2;
    overflow: hidden;
    height: 50px;
}

/*lisätään responsive classin navbarille korkeus*/
.navbar.responsive{
    height: fit-content;
}

/* Tyylitellään linkit navbarin sisällä */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}
/* Vaihdetaan linkkien väri tummemmaksi kun hiiri tulee niiden päälle */
.navbar a:hover {
    background-color: #D29874;
    color: black;
}

/* lisätään active classin omaavien tyylittelyä*/
.navbar a.active {
    padding: 0;
}

/* piilotetaan linkit pienillä näytöillä */
.navbar .icon {
    display: none;
}
/*liian pienessä näytössä piilotetaan kaikki muut linkit paitsi logo/koti ja hampurilaisvalikko */
@media screen and (max-width: 900px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

/*responsive class lisätään elementille kun js suorittaa funktion käyttäjän painettua valikkoa.
tämä query avaa valikon alaspäin aukeavana jotta se näyttää hyvältä pienissä näytöissä*/
@media screen and (max-width: 900px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
/*NAVBAR TYYLITTELY LOPPUU*/

.sisalto {
        /*margin top: se määrä mitä header vie yläreunasta*/
        margin-top: 50px;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
}
#kayttoIka{
    background-color: #F1DFD4;
    padding: 20px;
    /*margin: 20px 0 20px 0; */
    padding-bottom: 30px;
    margin: 50px 40px 60px 40px;
}
#huolto{
    background-color: #F1DFD4;
    padding: 20px;
    /* margin: 20px 0 20px 0; */
    margin: 50px 40px 60px 40px;
}
#rikki{
    padding: 20px;
    background-color: #D29874;
}
#rikki{
    padding: 10px 20px 10px 20px;
    background-color: white;
    margin: 0 40px 0 40px;
}
#rikki div{
    display: flex;
    flex-direction: row;
}
#rikkiTeksti{
    max-width: 50%;
    margin: 15px 0 0 10px;
}
#pesu{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/ /*Kokeiltu ottaa pois jottei kuva istuisi keskellä, pelkästään teksti*/
    margin: 30px 5px 5px 15px;
}
#vinkitPesuun {
    max-width: 40%;
    margin-top: 13px;
}
#vinkitPesuun li{
    margin-bottom: 10px;
}
.kierratyskuvat{
    display: flex;
    flex-direction: row;
    align-items: normal;
}
.kierratyskuvia .kierratuskuvat{
    max-width: 100%;
    height: auto;
}
#kierrataGrafiikka{
    max-width: 100%;
    height: auto;
}
#pesuohjeCaption{
    margin: 10px 0 0 0;
    font-size: small;
}
#huoltoVinkit{
    padding: 20px;
}
.tekijoidenKuvat{
    max-width: 70%;
    height: auto;
}
footer{
    background-color: #E6C6B2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    #pesu{
        display: flex;
        flex-direction: column;
    }
    #pesu figure{
        align-self: center;
    }
    #vinkitPesuun{
        width: auto;
    }
}
@media screen and (max-width: 900px) {
    #rikki div{
        display: flex;
        flex-direction: column;
    }
    #rikki figure{
        margin: 10px 0;
    }
    #rikkiTeksti{
        max-width: 100%;
        margin: 0;
    }
    footer img {
        width: 200px;
    }
    figcaption {
        text-align: center;
    }
    footer {
        background-color: #E6C6B2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
