body{
    margin: 0;
}
.container{
    /*asetetaan fontti kaikkeen sisältöön oletuksena*/
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}
h2{
    /* headerin fontti*/
    font-family: 'Barlow Condensed', sans-serif;

}
/* NAVBARIN TYYLITTELY ALKAA*/
/*annetaan taustaväri ja yli menevä on piilossa. Korekus maksimissaan 50px*/
.navbar {
    /*navbar pysyy näytön yläreunassa*/
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E6C6B2;
    overflow: hidden;
    height: 50px;
}

/*lisätään responsive classin navbarille korkeus*/
.navbar.responsive{
    height: fit-content;
}

/* Tyylitellään linkit navbarin sisällä */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

/* Vaihdetaan linkkien väri tummemmaksi kun hiiri tulee niiden päälle */
.navbar a:hover {
    background-color: #D29874;
    color: black;
}

/* lisätään active classin omaavien tyylittelyä*/
.navbar a.active {
    background-color: #68B0AB;
    color: black;
    padding: 0;
}

/* piilotetaan linkit pienillä näytöillä */
.navbar .icon {
    display: none;
}
/*liian pienessä näytössä piilotetaan kaikki muut linkit paitsi logo/koti ja hampurilaisvalikko */
@media screen and (max-width: 900px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

/*responsive class lisätään elementille kun js suorittaa funktion käyttäjän painettua valikkoa.
tämä query avaa valikon alaspäin aukeavana jotta se näyttää hyvältä pienissä näytöissä*/
@media screen and (max-width: 900px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
/*NAVBAR TYYLITTELY LOPPUU*/

h2 {
    text-align: center;
    font-size: 30px;
}
#sisalto{
    /*margin top: se määrä mitä header vie yläreunasta*/
    margin: 50px 15px 15px 15px ;
    overflow: auto;
    text-align: center;
}
figcaption{
    font-size: small;
}
.kierratyskuvat{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.kierratyskuvat img{
    max-width: 100%;
    height: auto;
    justify-content: space-evenly;
}
.kierratyskuvat figure{
    /*margin: 10px;*/
    margin: 50px 40px 60px 40px;
}

#kierratysInfo{
    background-color: #68B0AB;
    border-radius: 5px;
    padding: 10px;
    /*margin: 15px 10px;*/
    margin: 50px 40px 60px 40px;
}
.jateInfo{
    text-align: left;
    background-color: #F1DFD4;
    margin: 50px 40px 60px 40px;
    padding: 20px;
}
.jateInfo header{
    text-align: center;
}
.jateInfo p{
    text-align: center;
}
#jatteenMaara{
    background-color: #F1DFD4;
    padding: 20px;
    margin: 50px 40px 60px 40px;
    text-align: center;
}
#kierrataGrafiikka {
    margin: 0 40px 20px 40px;
    max-width: 100%;
    height: auto;
}
.pisteet{
    margin: 50px 40px;
    border: solid #68B0AB;
}
button{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
    border: 2px solid #68B0AB;
    border-radius: 2px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    padding: 5px;
}
button:hover {
    background-color: #68B0AB; /* Green */
    color: black;
    border-radius: 2px;
}
#valikko .active{
    background-color: #68B0AB;
    color: black;
    border-radius: 2px;
}
#hakunappi{
    background-color: white;
    color: black;
    border: 2px solid #E6C6B2;
    border-radius: 2px;
    transition-duration: 0.4s;
}
#hakunappi:hover{
    background-color: #E6C6B2;
    color: black;
    border-radius: 2px;
}
#hakunappi .active{
    background-color: #E6C6B2;
    color: black;
    border-radius: 2px;
}
#reset{
    background-color: white;
    color: black;
    border: 2px solid #D29874;
    border-radius: 2px;
    transition-duration: 0.4s;
}
#reset:hover{
    background-color: #D29874;
    color: black;
    border-radius: 2px;
}
#reset .active{
    background-color: #D29874;
    color: black;
    border-radius: 2px;
}
/*TÄSTÄ ALKAA FOOTTERIN TYYLITTELY*/
.tekijoidenKuvat{
    max-width: 70%;
    height: auto;
}
footer{
    width: 100%;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: #E6C6B2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
