@media   {
    
}

.container{
    /*asetetaan fontti kaikkeen sisältöön oletuksena*/
    font-family: 'Montserrat', sans-serif;
}
h2{
    /* headerin fontti*/
    font-family: 'Barlow Condensed', sans-serif;
}
nav{
    width: 100%;
    background-color: #E6C6B2;
    padding: 10px;
}

#logoImg{
    /* VAIHDETAAN SOPIVA KOKO JA SIT KATOTAAN KANS SE ALK.PER KUVA ETTEI OO SIKANA LIIAN ISO KOKOON NÄHDEN*/
    width: 100px;
    left: 0px;
    margin: 0px;
}
header{
    display: block;
    /* TEHDÄÄN SE MEDIA QUERRY ASIA ETTÄ MENEE SEN KOLMEN VIIVAN TAAKSE PIENES NÄYTÖS*/
    /*pysyy yläreunassa scrollatessa */
    background-color: #F1DFD4;
    top: 0px;
    position: fixed;
    /* leveys on koko näytön*/
    width: 100%;
}
#sisalto{
    margin-top: 10.5%;
    overflow: auto;
}
a{
    color: black;
    padding: 8px;
    border: solid;
    border-color: #D29874;
}
#headerKuva{
    padding-top: 50%px;
    width: 100%;
    margin-top: 1%;
    white-space: normal;
}
video{
    margin: 20px;
    width: 50%;
    position: relative;
}
#tietoa{
    /* Kohta jossa video */
    padding: 20px;
    background-color: #F1DFD4;

}
#huolto{
    width: 90%;
    padding: 20px;
    /* Vaatteen huolto kohta */
}
#slideKuva{
    width: 90%;
}
footer{
    /* kuvat vierekkäin, teksti oikeelle*/
    padding: 20px;
}
body{
    display: flex;
    flex-direction: column;
}
#container{
    display: block;
}
#sisalto{
    display: block;
}




/*
Lila: #725D68
turkoosi: #68B0AB
vaaleanpunainen: #F1DFD4*/

