body{
    margin: 0;
}
.container{
    /*asetetaan fontti kaikkeen sisältöön oletuksena*/
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4{
    /* headerin fontti*/
    font-family: 'Barlow Condensed', sans-serif;
}
h3{
    font-size: 22px;
}
h2 {
    text-align: center;
    font-size: 30px;
}
/* NAVBARIN TYYLITTELY ALKAA*/
/*annetaan taustaväri. Korekus maksimissaan 50px.
Leveys koko näytön.*/
.navbar {
    /*navbar pysyy näytön yläreunassa*/
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E6C6B2;
    overflow: hidden;
    height: 50px;
}

/*lisätään responsive classin navbarille korkeus*/
.navbar.responsive{
    height: fit-content;
}

/* Tyylitellään linkit navbarin sisällä */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}
/*navbarin logo padding ja margin 0*/
#aLogo{
    margin: 0;
    padding: 0;
}

/* Vaihdetaan linkkien väri tummemmaksi kun hiiri tulee niiden päälle */
.navbar a:hover {
    background-color: #D29874;
    color: black;
}

/* lisätään active classin omaavien tyylittelyä*/
.navbar a.active {
    padding: 0;
}

/* piilotetaan ikoni isolla näytöllä */
.navbar .icon {
    display: none;
}
/*liian pienessä näytössä piilotetaan kaikki muut linkit paitsi logo/koti ja hampurilaisvalikko */
@media screen and (max-width: 900px) {
    /*muut linkit piiloon paitsi eka lapsi eli logo*/
    .navbar a:not(:first-child) {display: none;}
    /*ikoni tulee näkyviin*/
    .navbar a.icon {
        float: right;
        display: block;
    }
}

/*responsive class lisätään elementille kun js suorittaa funktion käyttäjän painettua valikkoa.
tämä query avaa valikon alaspäin aukeavana jotta se näyttää hyvältä pienissä näytöissä*/
@media screen and (max-width: 900px) {
    .navbar.responsive {position: relative;}
    /*ikoni pysyy samassa paikassa oikealla ylhäällä*/
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*NAVBAR TYYLITTELY LOPPUU*/

.sisalto{
    /*margin top: se määrä mitä header vie yläreunasta*/
    margin-top: 50px;
    overflow: auto;
    text-align: center;
}
#hakunappi_kentta{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#hakunappi{
    background-color: #F1DFD4;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
    border-radius: 2px;
    transition-duration: 0.4s;
    border-style: none;
    margin-left: 5px;
}
#hakunappi:hover{
    background-color: #E6C6B2;
    color: black;
    border-radius: 2px;
}
#hakunappi .active{
    background-color: #E6C6B2;
    color: black;
    border-radius: 2px;
}
#haku{
    margin: 10px;
}
#haku p{
    font-size: 14px;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
article{
    margin: 40px 40px 60px 40px;
    padding: 15px;
    background-color: #F1DFD4;
    border-radius: 5px;
    max-width: 40%;
    height: auto;
}
a{
    color: black;
    background-color: #E6C6B2;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    transition-duration: 0.4s;
}
a:hover{
    background-color: #D29874;
}
figcaption{
    font-size: small;
}

/*TÄSTÄ ALKAA FOOTTERIN TYYLITTELY*/
.tekijoidenKuvat{
    max-width: 70%;
    height: auto;
}
footer{
    width: 100%;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: #E6C6B2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 900px) {
    footer img {
        width: 200px;
    }
    figcaption {
        text-align: center;
    }
    footer {
        background-color: #E6C6B2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
