body{
    margin: 0;
}
.container{
    /*asetetaan fontti kaikkeen sisältöön oletuksena*/
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}
h2{
    /* headerin fontti*/
    font-family: 'Barlow Condensed', sans-serif;
}
/* NAVBARIN TYYLITTELY ALKAA*/
/*annetaan taustaväri ja yli menevä on piilossa. Korekus maksimissaan 50px*/
.navbar {
    /*navbar pysyy näytön yläreunassa*/
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E6C6B2;
    overflow: hidden;
    height: 50px;
}

/*lisätään responsive classin navbarille korkeus*/
.navbar.responsive{
    height: fit-content;
}

/* Tyylitellään linkit navbarin sisällä */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

/* Vaihdetaan linkkien väri tummemmaksi kun hiiri tulee niiden päälle */
.navbar a:hover {
    background-color: #D29874;
    color: black;
}

/* lisätään active classin omaavien tyylittelyä*/
.navbar a.active {
    background-color: #68B0AB;
    color: black;
    padding: 0;
}

/* piilotetaan linkit pienillä näytöillä */
.navbar .icon {
    display: none;
}
/*liian pienessä näytössä piilotetaan kaikki muut linkit paitsi logo/koti ja hampurilaisvalikko */
@media screen and (max-width: 900px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

/*responsive class lisätään elementille kun js suorittaa funktion käyttäjän painettua valikkoa.
tämä query avaa valikon alaspäin aukeavana jotta se näyttää hyvältä pienissä näytöissä*/
@media screen and (max-width: 900px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
/*NAVBAR TYYLITTELY LOPPUU*/


h2 {
    text-align: center;
    font-size: 30px;
}
.sisalto{
    /*margin top: se määrä mitä header vie yläreunasta*/
    margin-top: 50px;
    overflow: auto;
    text-align: center;

}

#haku{
    margin: 10px;
}
#haku p{
    font-size: 14px;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
article{
    margin: 20px 10px 10px 20px;
    padding: 15px;
    background-color: #F1DFD4;
    border-radius: 5px;
    max-width: 40%;
    height: auto;
}
a{
    color: black;
    background-color: #E6C6B2;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;

}
a:hover{
    background-color: #D29874;
}
figcaption{
    font-size: small;
}

/*TÄSTÄ ALKAA FOOTTERIN TYYLITTELY*/
.tekijoidenKuvat{
    max-width: 70%;
    height: auto;
}
footer{
    width: 100%;
    padding: 0;
    margin: 10px 0px 0px 0px;
    background-color: #E6C6B2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
